@using EducationalPortal.ViewModels;

@model ResetPasswordModelView
@{
    ViewData["Title"] = "Reset password";
}


<h2>Reset your password.</h2>

<div class="row">
    <div class="col-md-4">

        <form method="post" asp-action="ResetPassword">
            <div class="mb-3">
                <label class="form-label" asp-for="Username">Username</label>
                <input class="form-control" asp-for="Username"></input>
            </div>
           
            <div class="mb-3">
                <label class="form-label" asp-for="Password">Password</label>
                <input class="form-control" asp-for="Password" type="password" placeholder="Enter New Password..." />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Confirm Password</label>
                <input class="form-control" asp-for="ConfirmPassword" type="password" placeholder="Confirm Password..." id="confirmPassword" />
                <span class="text-danger" id="confirmPasswordError"></span>
            </div>
            <button type="submit" class="text-center btn btn-success p-4">Reset</button>
        </form>
    </div>
</div>
